<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Kanyapur Title</title>
</head>
<link rel="stylesheet" href="css/socialico.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<link rel="stylesheet" href="css/about.css">
<link rel="stylesheet" href="css/images.css">
<link rel="stylesheet" href="css/middle.css">
<link rel="stylesheet" href="css/notes.css">
<link rel="stylesheet" href="css/socialico.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/yearwise.css">

<link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital@1&display=swap" rel="stylesheet">



<body>
