<%- include("partials/header"); -%>




  <div class="grid-container">
    <div class="header">
      <img src="photos/logoo.png" alt="logo">
      <h2>WELCOME TO KANYAPUR STUDENTS' CORNER</h2>
    </div>

    <div class="left" style="background-color:rgb(245, 245, 245);">

 <a href=../>



        <table style="border: 1px solid white ;width: 100%;text-align: center ">
                <tr>

                    <td>


                        <h2><img  class="animate__heartBeat" src="photos/home-icon-silhouette (1).png" alt="">   </h2>


                    </td>
                </tr>


                       </table>
</a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>

<a href="1st year.html"  >



  <table style="border: 1px solid white ;width: 100%;text-align: center ">
          <tr>

              <td>


                  <h2><img  class="animate__heartBeat" src="photos/left-arrow.png" alt="">   </h2>


              </td>
          </tr>


                 </table>
</a>






  </div>

  <div class="middle">

    <div class="year">





      <h1>1st Year</h1>

      <table >

        <tr >

          <td >



            <h2>Physics Past Semester questions:-</h2>
<p>December 2014.&nbsp;  &nbsp; &nbsp;<a href="PQP/2014 -Dec-Basic Physics.pdf"  >Click Here  <img src="photos/new.gif">  </a></p>
<p>June 2014.&nbsp;  &nbsp; &nbsp;<a href="PQP/2014-June-Applied Physics.pdf"  >Click Here <img src="photos/new.gif">  </a></p>
<p>December 2015.&nbsp;  &nbsp; &nbsp;<a href="PQP/2015 -Dec-Basic Physics.pdf"  >Click Here <img src="photos/new.gif"> </a></p>
<p>May 2015.&nbsp;  &nbsp; &nbsp;<a href="PQP/2015-May-Applied Physics.pdf"  >Click Here <img src="photos/new.gif"> </a></p>
<p>December 2016.&nbsp;  &nbsp; &nbsp;<a href="PQP/2016 -Dec-Basic Physics.pdf"  >Click Here <img src="photos/new.gif"> </a></p>
<p>June 2016.&nbsp;  &nbsp; &nbsp;<a href="PQP/2016-June-Applied Physics.pdf"  >Click Here <img src="photos/new.gif"> </a></p>
<p>December 2017.&nbsp;  &nbsp; &nbsp;<a href="PQP/2017 -Dec-Basic Physics.pdf"  >Click Here <img src="photos/new.gif"> </a></p>
<p>May 2017<a href="PQP/2017-May-Applied Physics.pdf"  >Click Here <img src="photos/new.gif"> </a></p>
<p>December 2018.&nbsp;  &nbsp; &nbsp;<a href="PQP/2018 -Dec-Basic Physics.pdf"  >Click Here <img src="photos/new.gif"> </a></p>
<p>June 2018.&nbsp;  &nbsp; &nbsp;<a href="PQP/2018-June-Applied Physics.pdf"  >Click Here <img src="photos/new.gif"> </a></p>
<p>December 2019.&nbsp;  &nbsp; &nbsp;<a href="PQP/2019-Dec-Basic Physics.pdf"  >Click Here <img src="photos/new.gif"> </a></p>
</td>

<td style="margin: 10px;padding: 0px 6px 39px 225px">

  <h2>Chemistry Past Semester questions:-</h2>
  <p>December 2014.&nbsp;  &nbsp; &nbsp;<a href="CQP/2014 -Dec - Basic Chemistry.pdf"  >Click Here <img src="photos/new.gif"> </a></p>
  <p>June 2014.&nbsp;  &nbsp; &nbsp;<a href="CQP/2014-June-Applied Chemistry.pdf"  > Click Here <img src="photos/new.gif"> </a></p>
  <p>December 2015.&nbsp;  &nbsp; &nbsp;<a href="CQP/2015 -Dec-Basic Chemistry.pdf"  >Click Here <img src="photos/new.gif"> </a></p>
  <p>May 2015.&nbsp;  &nbsp; &nbsp;<a href="CQP/2015-May-Applied Chemistry.pdf"  >Click Here <img src="photos/new.gif"> </a></p>
  <p>December 2016.&nbsp;  &nbsp; &nbsp;<a href="CQP/2016 -Dec-Basic Chemistry.pdf"  >Click Here </a></p>
  <p>June 2016.&nbsp;  &nbsp; &nbsp;<a href="CQP/2016-June-Applied Chemistry.pdf"  >Click Here <img src="photos/new.gif"> </a></p>
  <p>December 2017.&nbsp;  &nbsp; &nbsp;<a href="CQP/2017 -Dec-Basic Chemistry.pdf"  >Click Here <img src="photos/new.gif"> </a></p>
  <p>May 2017.&nbsp;  &nbsp; &nbsp;<a href="CQP/2017-May-Applied Chemistry.pdf"  >Click Here <img src="photos/new.gif"> </a></p>
  <p>December 2018.&nbsp;  &nbsp; &nbsp;<a href="CQP/2018 -Dec-Basic Chemistry.pdf"  >Click Here <img src="photos/new.gif"> </a></p>
  <p>June 2018.&nbsp;  &nbsp; &nbsp;<a href="CQP/2018-June-Applied Chemistry.pdf"  >Click Here <img src="photos/new.gif"> </a></p>

  </td>



</table>
</div>

</div>




  <!-- <div class="right"> -->


<!--
    <h3 class="animate__heartBeat" style="text-align: center">
      <p class="notice">Important Notice</p>
    </h3> -->

  <!-- </div> -->
  <div class="footer">

    <p>&copy; Students of kanyapur first year</p>
    <p><a href="about.html" style="text-decoration: none; color: rgb(86, 214, 47); font-size: 18px;background-color: rgb(8, 0, 0);"> <strong>CLICK HERE to know  ABOUT US</strong> </a></p>

    <div class="social">
        <a href="#"><img src="photos/facebook.png" alt="" class="socialicon"></a>
        <a href="#"><img src="photos/instagram.png" alt="" class="socialicon"></a>
        <a href="#"><img src="photos/whatsapp.png" alt="" class="socialicon"></a>
        <a href="#"><img src="photos/linkedin.png" alt="" class="socialicon"></a>
    </div>

  </div>
  </div>



<%- include("partials/footer"); -%>
