body{
    scroll-behavior: smooth;
    
        font-family: 'Averia Serif Libre', cursive;
   
}
.header {
    grid-area: header;
    background-color: #f1f1f1;
      padding: 6px 17px 1px 0px;
    text-align: center;
    font-size: 16px;
}

/* The grid container */

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header header header header' 'left middle middle middle middle middle middle right' 'footer footer footer footer footer footer footer footer';
    grid-row-gap: 10px;
     /* - if you want gap between the columns */
}

.left,
.middle,
.right {
    padding: 10px;
    /* height: 300px; Should be removed. Only for demonstration */
}

/* Style the left column */

.left {
    grid-area: left;
    /* width: 150px; */
}

/* Style the middle column */

.middle {
    grid-area: middle;
    border: 1px solid black;
    /* color: #bbbbbb !important; */
}

/* Style the right column */

.right {
    grid-area: right;
 
}

/* Style the footer */

.footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media (min-width:401px) and (max-width: 644px) {
    .grid-container {
        grid-template-areas: 'header header header header header header' 'left left left left left left' 'middle middle middle middle middle middle' 'right right right right right right' 'footer footer footer footer footer footer';
    }
    .header h2{
        background-color: rgb(255, 115, 0);
        height: 85px;
        color: white;
        padding:10px;
    }
}
/* 
.animate__heartBeat{
    animation: infinite;
} */
/* .left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* width: 200px; */
    /* background-color: #f1f1f1;
  }
  
   .left ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  /* .left ul li a:hover {
    background-color: #555;
    color: white;
  } */ 
.left  a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}
.left table a:hover{
    color: yellow;

    /* font-size: 25px; */
    /* /* background-color: black */
} 
.left table td{
   border: 1px solid black;  
     border-collapse: collapse;
            background-color:    rgb(48, 153, 240);
            color: white;
            border-radius: 20px;
            /* height: 10px; */
             /* padding: 10px; */
}
.left table td:hover{
 
             background-color:   rgb(49, 145, 224);color: white; 
 }
 /* @media (min-width: 633px) {
    .header h2{
        background-color: rgb(255, 115, 0);
        height: 85px;
        color: white;
        padding:15px 15px 20px 13px;
        font-size: 28px;
    }
 }*/
 @media (min-width: 645px )and (max-width:801px){ 
    .header h2{
        background-color: rgb(255, 115, 0);
        height: 85px;
        color: white;
        padding:15px 15px 20px 13px;
        font-size: 25px;
    }
    .right {
      
        background-image: url(photo_2021-03-13_20-49-39.jpg);
        background-size: cover;
        height: 200px;
    }
    /* .grid-container {
        grid-template-areas: 'header header header header header header' 'left left left left left left' 'middle middle middle middle middle middle' 'right right right right right right' 'footer footer footer footer footer footer';
    }  */
}
 @media (min-width:802px) {
    .header h2{
        background-color: rgb(255, 115, 0);
        /* height: 65px; */
        color: white;
        padding:30px 15px 20px 13px;
        font-size: 30px;
    }
    .right {
        grid-area: right;
        background-image: url(photo_2021-03-13_20-49-39.jpg);
        background-size: cover;
        height: 200px;
    }
 }
 @media (min-width:342px) and (max-width:400px){
    .grid-container {
        grid-template-areas: 'header header header header header header' 'left left left left left left' 'middle middle middle middle middle middle' 'right right right right right right' 'footer footer footer footer footer footer';
    }
    .header h2{
        background-color: rgb(255, 115, 0);
        margin: 0px;
        height: 100px;
        width: 100%;
        color: white;
        padding:10px;
        
    }
 }
 .notice{
     padding: 51px;
    
     /* text-align: center; */
     
 }

 .footer{
     background-color:#002147;
     color: white;
 }
 @media (max-width:601){
     
 }
 
 .left img{
    height: 38px;
    width: 38px;
     /* background-color: red; */
 }
 /* .left a:hover{
     background-color:  rgb(30, 96, 150);
 } */
 .left a{
     
 }
.tab{
    float: left;
}